* {
    box-sizing: border-box;
  }
  
  #firstNameError {
    display: none;
  }
  
  #firstNameError.visible {
    display: block;
  }
  
  /* basic css reset */
  fieldset{
    border: none;
    margin: 0;
    padding: 0;
  }
  
  
  
  input,[ type='text'],
  input,[ type='email'],
  select{
    appearance: none;
    border: 1px solid #999;
    width: 100;
    margin: 0;
    padding: 0;
    font: inherit;
    line-height: inherit;
  }
  
  label{
    display: block;
  }
  
  /* styling */
  body{
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    background-color:rgb(255, 255, 255);
  }
  
  
  button{
    border-radius: 50;
  }
  
  .grid{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap:1rem;
  }
  
  .grid>div{
    border:1px solid blue;
  }
  